{% extends 'main.html'%} {% block content %}


<style>
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-sizing: border-box;
    }
    #main-form{
        padding-top: 50px;
    }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(205, 195, 214, 0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        background-color: rgb(79, 71, 168);
        }

        /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2);
        }

        /* Add some padding inside the card container */
    .container {
        padding: 30px 30px;
    }
    .column {
    float: left;
    width: 50%;
    column-gap: 20rem;
    }
    /* Clear floats after the columns */
    .row:after {
    content: "";
    row-gap: 2rem;
    display: table;
    clear: both;
    }
    input{
        display: inline;
    }
</style>

<div id="main-form">
    <form action="/segment/" method="POST">
        {% csrf_token %}
        <label for="">Role</label>
        <input type="text" id="role" name="role" placeholder="Enter role" required>
        <br>
        <label for="">Location</label>
        <input type="text" id="location" name="location" placeholder="Enter location" required>
        <br>
        <label for="">Skills to exclude</label>
        <input type="text" id="exskills" name="exskills" placeholder="Enter skills to exclude" required>
        <br>
        <button type="submit"> Search! </button>
    </form>
</div>
<br>
<div class="row">
    <div class="column">
        <div id = "p_india">
            {% if job_info %}
                <h1> PLACEMENT INDIA </h1>
                {% for item in job_info.p_data %}
                    <div class="card">
                        <div class="card-body">
                            {% for value in item %}
                                {% if forloop.counter == 3 %}  
                                {{ value|join:", "  }}.
                                {% elif forloop.counter == 4 %}
                                    <a href="{{ value }} " target="_blank"> {{ value }} </a>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div> 
    </div>

    <div class="column">
        <div id = "t_jobs">
            {% if job_info %}
                <h1> TIMES JOBS </h1>
                {% for item in job_info.t_data %}
                        <div class="card">
                            <div class="card-body">
                                {% for value in item %}
                                    {% if forloop.counter == 3 %}  
                                        Skills - {{ value|join:", "  }}.
                                    {% elif forloop.counter == 4 %}
                                        <a href="{{ value }} " target="_blank"> {{ value }} </a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                <br>
                                {% endfor %}
                            <br>
                            </div>
                        </div>
                        <br>
                {% endfor %}
            {% endif %}
        </div>
    </div> 
  </div>

<script src="" async defer></script>
{% endblock content %}